/*----------------
 * Section Title
--------------------*/

.section-title {
    .title {
        font-size: 30px;
        line-height: 1.2;
    }
    .description {
        margin: 0;
        letter-spacing: 0px;
    }
}











